<center>
<img src="https://www.uvsq.fr/medias/photo/logo-uvsq-2020-cmjn_1578589130014-png?ID_FICHE=213209&INLINE=FALSE" width="25%" />
</center>




<center> <h2> PROJET BDD JAZZ  </h2> </center>

<center> <h3>  KRISSAAN AMEN ALLAH   </h3> </center>


<center>
<img src="https://avatars.githubusercontent.com/u/86923959?s=400&u=3097a31c5eb9e29e67fe5fd285373b52ecdae5e3&v=4" width="15%" />
</center>
 




<center> <h4> https://github.com/amenallah01/PROJET-BDD-JAZZ.git </h4> </center>
<center> <h3> amen-allah.krissaan@ens.uvsq.fr  </h3> </center>
<center> <h3> amenallahkrissane@gmail.com  </h3> </center>
<center> <h3>  Master TRIED  </h3> </center>
<center> <h3>  Janvier 2025 </h3> </center>


### Ici on va Commencer par la faire la connection à une base de données SQLite nommée 'jazz_projet.db' et charge un schéma à partir d'un fichier SQL nommé 'DATA.sql'.

    Etapes :
        1. Se connecter à la base de données SQLite 'jazz_projet.db'.
        2. Ouvrez et lisez le contenu de 'DATA.sql'.
        3. Diviser le contenu du fichier SQL en commandes SQL individuelles.
        4. Exécuter chaque commande SQL à l'aide du curseur de la base de données.
        5. Si une commande échoue en raison d'une OperationalError, elle est ignorée et un message est imprimé.

In [1]:
import sqlite3

db_jazz = sqlite3.connect('jazz_projet.db')
cursor = db_jazz.cursor()

# Loading the schema into the database
fd = open('DATA.sql', 'r')
sqlFile = fd.read()
fd.close()

sqlCommands = sqlFile.split(';')

for command in sqlCommands:
    try:
        cursor.execute(command)
    except sqlite3.OperationalError:
        print('Command skipped: ' + command)

In [2]:
tables = ['Salle', 'Concert', 'Client', 'Musicien', 'Morceau', 'Organisateur', 'Reservation', 'Participation', 'Programme', 'Auteur', 'Seance']
for table in tables:
    cursor.execute(f"SELECT * FROM {table}")
    rows = cursor.fetchall()

    print("\n--- TABLE", table, "\n")

    for desc in cursor.description:
        print(desc[0].rjust(22, ' '), end=' ')

    print("")

--- TABLE Salle

              ID_salle              Nom_salle          Nombre_Places

--- TABLE Concert

            ID_concert            Nom_concert            ID_musicien        ID_organisateur

--- TABLE Client

             ID_client             Nom_client             Tel_client

--- TABLE Musicien

           ID_musicien           Nom_musicien           Tel_musicien

--- TABLE Morceau

            ID_morceau            Nom_morceau

--- TABLE Organisateur

       ID_organisateur       Nom_organisateur       Tel_organisateur

--- TABLE Reservation

            ID_concert                   Date              ID_client              Num_place                   Prix

--- TABLE Participation

           ID_musicien             ID_concert

--- TABLE Programme

            ID_morceau             ID_concert           ID_arrangeur

--- TABLE Auteur

           ID_musicien             ID_morceau

--- TABLE Seance

            ID_concert                   Date               ID_salle

In [3]:
def printTable(table):
    cursor.execute(f"SELECT * FROM {table}")
    rows = cursor.fetchall()
    print("\n--- TABLE", table, "\n")
    for desc in cursor.description:
        print(desc[0].rjust(22, ' '), end=' ')
    print("")
    for row in rows[:5]:
        for value in row:
            print(str(value).rjust(22, ' '), end=' ')
        print("")

<center>
<img src="images/image.png" width="80%" />
</center>



###  Maintenant on  insère des données provenant de fichiers texte dans les tables correspondantes d'une base de données.

####   Variables

- **fichiers** (liste) : Une liste de noms de fichiers (sans extensions) à traiter.
- **chemin** (str) : Le chemin du répertoire où se trouvent les fichiers de données.

####  Fonctionnalités

- Ouvre le fichier `xJazz_clients_all.txt` à partir du chemin spécifié.
- Lit chaque ligne du fichier, supprime les espaces superflus au début et à la fin, puis divise la ligne par des points-virgules.
- Exécute une instruction SQL `INSERT` pour insérer les données dans la table `Client`.
- Valide la transaction dans la base de données après chaque insertion.

In [4]:
fichiers = ['xJazz_clients_all', 'xJazz_morceux_et_arr_all', 'xJazz_musiciens_all', 'xJazz_organisateurs_all', 'xJazz_salles_all']

path = 'Jazz_data/'

# Inserts data from 'xJazz_clients_all.txt' into the 'Client' table
with open(path + 'xJazz_clients_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        cursor.execute("INSERT INTO Client VALUES (?, ?, ?)", (line[0], line[1], line[2]))
        db_jazz.commit()

### Insérer « ID_Morceau » et « nom_morceau » dans la table « Morceau ».

In [ ]:
with open(path + 'xJazz_morceux_et_arr_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        nom_morceau = line[1].split('\t')[0].replace('"', '')
        cursor.execute("INSERT INTO Morceau VALUES (?, ?)", (line[0].strip(), nom_morceau.strip()))
        db_jazz.commit()

### Insérer des artistes dans la table « Musicien ».

In [6]:

with open(path + 'xJazz_musiciens_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        cursor.execute("INSERT INTO Musicien VALUES (?, ?, ?)", (line[0], line[1], line[2]))
        db_jazz.commit()

### Insérer les organisateurs dans le tableau « Organisateur ».

In [7]:
with open(path + 'xJazz_organisateurs_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        cursor.execute("INSERT INTO Organisateur VALUES (?, ?, ?)", (line[0], line[1].replace('"', ''), line[2]))
        db_jazz.commit()

### Insérer les salles dans la table « Salle ».

In [8]:
with open(path + 'xJazz_salles_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        cursor.execute("INSERT INTO Salle VALUES (?, ?, ?)", (line[0], line[1].replace('"', ''), line[2]))
        db_jazz.commit()

In [9]:
with open(path + 'xJazz_morceux_et_arr_all.txt', 'r') as f:
    for line in f:
        line = line.strip()
        line = line.split(';')
        id_morceau = line[0].strip()
        
        nom_musiciens = line[1].replace('\t\t', '\t').split('\t')[1].split('et')
        for nom_musicien in nom_musiciens:
            nom_musicien = nom_musicien.strip()
            # get id musicien
            cursor.execute("SELECT ID_musicien FROM Musicien WHERE Nom_musicien = ?", (nom_musicien,))
            id_musicien = cursor.fetchone()[0]
            if(id_musicien == None):
                print(nom_musicien)

            cursor.execute("INSERT INTO Auteur VALUES (?, ?)", (id_musicien, id_morceau))
            db_jazz.commit()

In [10]:
printTable('Client')
printTable('Morceau')
printTable('Musicien')

--- TABLE Client

             ID_client             Nom_client             Tel_client
                     1                 Claire             0769646587
                     2               Caroline             0912363008
                     3                 Marcel             0013908883
                     4                   Eric             0450425837
                     5                   Sean             0109889300

--- TABLE Morceau

            ID_morceau            Nom_morceau
                     1            Les fraises
                     2        La joie du Jazz
                     3                Le truc
                     4                 Danger
                     5                  Miaou

--- TABLE Musicien

           ID_musicien           Nom_musicien           Tel_musicien
                     1                  Louis             0615063355
                     2                Michael             0360717574
                     3                  Miles             0928808376
                     4                Ernesto             0568464097
                     5                  Keith           081057551297

In [11]:
printTable('Organisateur')
printTable('Salle')
printTable('Auteur')

--- TABLE Organisateur

       ID_organisateur       Nom_organisateur       Tel_organisateur
                     1          Les meilleurs             0698541706
                     2   Bandits et compagnie             0368638044
                     3       Le Jazz Ã  faire             0765555168

--- TABLE Salle

              ID_salle              Nom_salle          Nombre_Places
                     1             Le repaire                     30
                     2          Le vieux soir                     40
                     3      L'Ã©lÃ©phant rose                    100
                     4         Le New Orleans                    120

--- TABLE Auteur

           ID_musicien             ID_morceau
                     1                      1
                     1                      2
                     3                      3
                     5                      3
                     9                      4

### lire les concerts à partir de concerts.json

In [12]:
import json

with open('donnees_concerts.json') as json_file:
    concerts = json.load(json_file)
    # Iterate through the concert data
    for concert in concerts:
        # Insert into Concert
        cursor.execute("INSERT INTO Concert (ID_concert, Nom_concert, ID_musicien, ID_organisateur) VALUES (?, ?, (SELECT ID_musicien FROM Musicien WHERE Nom_musicien = ?), (SELECT ID_organisateur FROM Organisateur WHERE Nom_organisateur = ?))", 
                       (concert["ID_concert"], concert["Nom_concert"], concert["leader"], concert["organisateur"])) 

        for morceau in concert["Morceaux"]:
            # Insert into Programme
            cursor.execute("INSERT INTO Programme (ID_morceau, ID_concert, ID_arrangeur) VALUES ((SELECT ID_morceau FROM Morceau WHERE Nom_morceau = ?), ?, (SELECT ID_musicien FROM Musicien WHERE Nom_musicien = ?))", 
                           (morceau["Nom"], concert["ID_concert"], morceau["Arrangeur"])) 
            
        for musicien in concert["Musiciens"]:
            # Insert into Participation
            cursor.execute("INSERT INTO Participation (ID_musicien, ID_concert) VALUES ((SELECT ID_musicien FROM Musicien WHERE Nom_musicien = ?), ?)", 
                           (musicien, concert["ID_concert"]))

        # Insert into Seance
        for seance in concert["Seances"]:
            cursor.execute("INSERT INTO Seance (ID_concert, Date, ID_salle) VALUES (?, ?, (SELECT ID_salle FROM Salle WHERE Nom_salle = ?))", 
                           (concert["ID_concert"],seance["date"], seance["salle"])) 

            # Insert into Reservation
            for reservation in seance["Reservations"]:
                try:
                    cursor.execute("INSERT INTO Reservation (ID_concert, Date, ID_client, Num_place, Prix) VALUES (?, ?, (SELECT ID_client FROM Client WHERE Nom_client = ?), ?, ?)", 
                               (concert["ID_concert"],seance["date"], reservation["Nom"], reservation["Place"], reservation["Prix"]))
                except sqlite3.IntegrityError as e:
                    print(e)

In [13]:
printTable('Concert')

printTable('Seance')

--- TABLE Concert

            ID_concert            Nom_concert            ID_musicien        ID_organisateur
                     1       La folie du soir                      1                      3
                     2          Nouvelle Ã¨re                      9                      1
                     3       Festival d'Ã©tÃ©                      3                      1

--- TABLE Seance

            ID_concert                   Date               ID_salle
                     1             2022/04/15                      1
                     2             2022/10/05                      3
                     3             2022/06/21                      4
                     3             2022/08/07                      2

In [14]:
printTable('Programme')

printTable('Reservation')

--- TABLE Programme

            ID_morceau             ID_concert           ID_arrangeur
                     1                      1                      6
                     8                      1                      1
                    12                      1                      1
                     7                      1                      3
                    16                      1                      6

--- TABLE Reservation

            ID_concert                   Date              ID_client              Num_place                   Prix
                     1             2022/04/15                     14                      1                     28
                     1             2022/04/15                      3                      2                     32
                     1             2022/04/15                      2                      3                     26
                     1             2022/04/15                      7                      4                     32
                     1             2022/04/15                      6                      5                     34

In [15]:
printTable('Participation')

--- TABLE Participation

           ID_musicien             ID_concert
                     1                      1
                     3                      1
                     6                      1
                     1                      2
                     3                      2

In [16]:
def print_requete(sql):
    cursor.execute(sql)
    rows = cursor.fetchall()
    print("\n--- RESULT \n")
    for desc in cursor.description:
        print(desc[0].rjust(22, ' '), end=' ')
    print("")
    for row in rows:
        for value in row:
            print(str(value).rjust(22, ' '), end=' ')
        print("")

### Nous montrons les données utilisées pour la création du programme de concert

In [17]:
script_1 = '''
select Nom_concert, Nom_musicien, Nom_salle, Nom_organisateur, Date
from
    Concert
    natural join Musicien
    natural join Seance
    natural join Salle
    natural join Organisateur
'''

print_requete(script_1)

--- RESULT

           Nom_concert           Nom_musicien              Nom_salle       Nom_organisateur                   Date
      La folie du soir                  Louis             Le repaire       Le Jazz Ã  faire             2022/04/15
         Nouvelle Ã¨re                   Jaco      L'Ã©lÃ©phant rose          Les meilleurs             2022/10/05
      Festival d'Ã©tÃ©                  Miles         Le New Orleans          Les meilleurs             2022/06/21
      Festival d'Ã©tÃ©                  Miles          Le vieux soir          Les meilleurs             2022/08/07

### 2. Quel(s) client(s) a(ont) acheté le plus de billets, combien de billets ?
### 1ere méthode

In [18]:
script_2 = '''
select C.ID_client, C.Nom_client, C.Tel_client, count(R.Num_place) as NombreBilletsAchetes
from Client C JOIN Reservation R ON C.ID_client = R.ID_client
group by C.ID_client
order by NombreBilletsAchetes desc
limit 2;
'''

print("les 2 personnes qui ont acheté le plus grand nombre de billets sont: ")
print_requete(script_2)

les 2 personnes qui ont acheté le plus grand nombre de billets sont:

--- RESULT

             ID_client             Nom_client             Tel_client   NombreBilletsAchetes
                    11                 Victor             0756039207                      6
                    10                  Annie             0815790860                      4

### 2eme méthode

In [19]:
script_2 = '''
select ID_client, Nom_client, Tel_client, count(Num_place) as NombreBilletsAchetes
from Client NATURAL JOIN Reservation 
group by Client.ID_client
order by NombreBilletsAchetes desc
limit 2;
'''

print("les 2 personnes qui ont acheté le plus grand nombre de billets sont: ")
print_requete(script_2)

les 2 personnes qui ont acheté le plus grand nombre de billets sont:

--- RESULT

             ID_client             Nom_client             Tel_client   NombreBilletsAchetes
                    11                 Victor             0756039207                      6
                    10                  Annie             0815790860                      4

---

Cette requête sélectionne les deux clients ayant acheté le plus grand nombre de billets pour l'ensemble des concerts.

Elle associe les tables **Client** et **Réservation** afin de comptabiliser le nombre total de billets achetés par chaque client, les trie par ce nombre en ordre décroissant et limite les résultats aux deux meilleurs acheteurs.

---

### 3eme méthode

In [20]:
script_2='''
with ClassementClients as (select ID_client, Nom_client, Tel_client, count(Num_place) as NombreBilletsAchetes,
    rank() over (order by count(Num_place) desc) as Classement
    from Client natural join Reservation 
    group by ID_client, Nom_client, Tel_client)
    
select ID_client, Nom_client, Tel_client, NombreBilletsAchetes
from ClassementClients where Classement < 3;
'''

print("les 2 personnes qui ont acheté le plus grand nombre de billets sont: ")
print_requete(script_2)

les 2 personnes qui ont acheté le plus grand nombre de billets sont:

--- RESULT

             ID_client             Nom_client             Tel_client   NombreBilletsAchetes
                    11                 Victor             0756039207                      6
                    10                  Annie             0815790860                      4

### 3. Y a-t-il des clients ayant acheté des billets à toutes les séances des tous les concerts ?

### 1ere méthode

In [21]:
script_3 = '''
select Client.ID_client, Client.Nom_client, Client.Tel_client, 
    count (distinct Seance.Date) as Nombre_Seances_Réservées
    
from Client inner join Reservation on Client.ID_client = Reservation.ID_client
            inner join Seance ON Reservation.ID_concert = Seance.ID_concert AND Reservation.Date = Seance.Date
group by Client.ID_client

having count(distinct Seance.Date) = (select count(*) from Seance)
and not exists ( select 1 from Concert c
    where ( select count(*) from Seance where ID_concert = c.ID_concert) > (select count(distinct s.Date) 
                                                                            from Reservation r
                                                                            inner join Seance s on r.ID_concert = s.ID_concert 
                                                                            and r.Date = s.Date
                                                                            where r.ID_client = Client.ID_client 
                                                                            and s.ID_concert = c.ID_concert)
);


'''

print("Les clients qui ont acheté des billets à toutes les séances des tous les concerts sont: ")
print_requete(script_3)

Les clients qui ont acheté des billets à toutes les séances des tous les concerts sont:

--- RESULT

             ID_client             Nom_client             Tel_client Nombre_Seances_Réservées
                    10                  Annie             0815790860                      4

### 2eme méthode

In [22]:

script_3 = '''
with Client_Seance as (select c.ID_client, s.ID_concert, s.Date
    from Client c cross join Seance s)
    ,

Reservations_Count as (select cs.ID_client, count (r.Date) as Nombre_Seances_Réservées
    from Client_Seance cs left join Reservation r on cs.ID_client = r.ID_client 
                                                  and cs.ID_concert = r.ID_concert 
                                                  and cs.Date = r.Date
    group by cs.ID_client
    having count(r.Date) = (select count(*) from Seance))

select cl.ID_client, cl.Nom_client, cl.Tel_client, rc.Nombre_Seances_Réservées
from Client cl join Reservations_Count rc on cl.ID_client = rc.ID_client
'''

print("Les clients qui ont acheté des billets à toutes les séances des tous les concerts sont: ")
print_requete(script_3)

Les clients qui ont acheté des billets à toutes les séances des tous les concerts sont:

--- RESULT

             ID_client             Nom_client             Tel_client Nombre_Seances_Réservées
                    10                  Annie             0815790860                      4

---
Ici, Nous avons utilisé des expressions de table communes (CTE) pour identifier les clients ayant acheté des billets pour chaque séance de chaque concert. 

Le premier CTE, Client Séance, génère une liste de toutes les combinaisons possibles de clients et de séances, représentant ainsi l'ensemble des séances auxquelles chaque client pourrait potentiellement assister.

Le second CTE, Reservations Count, calcule le nombre de séances réservées par chaque client et filtre ceux qui ont réservé un nombre de séances égal au total des séances disponibles. Enfin, la requête principale joint le CTE Reservations Count avec la table Client pour obtenir les résultats.


---

### 4. Donnez le nombre de séances de concerts organisés par chaque organisateur
### 1ere méthode

In [23]:
script_4 = '''
select O.ID_Organisateur, O.Nom_Organisateur, count( S.ID_concert) AS NombreSeances
from Organisateur O join Concert C ON O.ID_Organisateur = C.ID_Organisateur join Seance S ON C.ID_Concert = S.ID_Concert
group by O.ID_Organisateur, O.Nom_Organisateur;
'''

print("Le nombre de séances de concerts organisés par chaque organisateur sont: ")
print_requete(script_4)

Le nombre de séances de concerts organisés par chaque organisateur sont:

--- RESULT

       ID_organisateur       Nom_organisateur          NombreSeances
                     1          Les meilleurs                      3
                     3       Le Jazz Ã  faire                      1

### 2eme méthode

In [24]:
script_4 = ''' select ID_Organisateur, Nom_Organisateur, count ( ID_concert) as NombreSeances
from Organisateur natural join Concert  
                    natural join (select ID_Concert from Seance)
group by ID_Organisateur, Nom_Organisateur;
'''

print("Le nombre de séances de concerts organisés par chaque organisateur sont: ")
print_requete(script_4)

Le nombre de séances de concerts organisés par chaque organisateur sont:

--- RESULT

       ID_organisateur       Nom_organisateur          NombreSeances
                     1          Les meilleurs                      3
                     3       Le Jazz Ã  faire                      1

---
La requête utilise des jointures naturelles pour calculer le nombre de séances associées à chaque organisateur. Elle commence par relier les tables Organisateur et Concert afin d'obtenir tous les concerts organisés par chaque organisateur, puis elle intègre les données de la table Séance pour inclure le nombre de séances de chaque concert.


Grâce à l'agrégation "count", elle dénombre les séances pour chaque organisateur et groupe les résultats par l'ID et le nom de l'organisateur.

---

### 5. Quel(s) musicien(s) n'ont jamais arrangé un morceau
### 1ere méthode

In [25]:
script_5 = '''
select m.ID_musicien, m.Nom_musicien from Musicien m
where not exists (select 1 from Programme p where p.ID_arrangeur = m.ID_musicien);
'''

print("Les musicien n'ont jamais arrangé un morceau sont: ")
print_requete(script_5)

Les musicien n'ont jamais arrangé un morceau sont:

--- RESULT

           ID_musicien           Nom_musicien
                     2                Michael
                     4                Ernesto
                     5                  Keith
                     8                  Fruko
                    10                Douglas
                    12              Stanislas

### 2eme méthode

In [26]:
script_5 = '''
select m.ID_musicien, m.Nom_musicien 
from Musicien m left join Programme p on m.ID_musicien = p.ID_arrangeur
where p.ID_morceau is null;
'''

print("Les musicien n'ont jamais arrangé un morceau sont: ")
print_requete(script_5)

Les musicien n'ont jamais arrangé un morceau sont:

--- RESULT

           ID_musicien           Nom_musicien
                     2                Michael
                     4                Ernesto
                     5                  Keith
                     8                  Fruko
                    10                Douglas
                    12              Stanislas

---
Cette requête utilise une jointure à gauche pour identifier les musiciens qui n'ont jamais arrangé de morceau. Elle relie la table Musicien à la table Programme sur l'ID du musicien et vérifie l'absence de correspondance dans la table Programme (indiquée par p.ID_morceau IS NULL).

Cela permet de sélectionner uniquement les musiciens qui n'ont aucun morceau associé à leur nom en tant qu'arrangeur, ce qui indique qu'ils n'ont pas arrangé de morceaux.

---

### 6. Combien ont rapporté les ventes de places pour chaque concert
### 1ere méthode

In [27]:

script_6 = '''
select co.ID_concert, co.Nom_concert, SUM(r.Prix) as Revenu_Total
from Concert co join Reservation r on co.ID_concert = r.ID_concert
group by co.ID_concert, co.Nom_concert;
'''

print("Les ventes de places pour chaque concert ont rapporté le suivant: ")
print_requete(script_6)

Les ventes de places pour chaque concert ont rapporté le suivant:

--- RESULT

            ID_concert            Nom_concert           Revenu_Total
                     1       La folie du soir                    342
                     2          Nouvelle Ã¨re                    315
                     3       Festival d'Ã©tÃ©                    311

### 2eme méthode

In [28]:
script_6 = '''
select ID_concert, Nom_concert, sum(Prix) as Revenu_Total
from Concert natural join Reservation
group by ID_concert, Nom_concert;
'''

print("Les ventes de places pour chaque concert ont rapporté le suivant: ")
print_requete(script_6)

Les ventes de places pour chaque concert ont rapporté le suivant:

--- RESULT

            ID_concert            Nom_concert           Revenu_Total
                     1       La folie du soir                    342
                     2          Nouvelle Ã¨re                    315
                     3       Festival d'Ã©tÃ©                    311

---

Dans cette requête, une jointure naturelle est utilisée pour calculer le revenu total de chaque concert en additionnant le prix des billets vendus. Cette jointure relie automatiquement les tables Concert et Réservation par les colonnes communes, ici l'ID du concert.


Par la suite, la fonction SUM est appliquée pour additionner tous les prix des billets (Prix) pour chaque concert, en regroupant les résultats par l'ID du concert et le nom du concert. Ainsi, le résultat final présente le revenu total pour chaque concert répertorié dans la base de données.

---

### 7. Quels morceaux sont joués à tous les concerts

### 1ere méthode

In [29]:
script_7 = '''
select m.ID_morceau, m.Nom_morceau from Morceau m
where not exists (select 1 from Concert c where not exists (select 1
                                                            from Programme p
                                                            where p.ID_morceau = m.ID_morceau
                                                            and p.ID_concert = c.ID_concert)
);
'''
print("Les morceaux joués à tous les concerts sont: ")
print_requete(script_7)

Les morceaux joués à tous les concerts sont:

--- RESULT

            ID_morceau            Nom_morceau
                     7                  Ouais
                    12                   Boum
                    14                 La vie
                    16               Kokoriko

### 2eme méthode

In [30]:
script_7 = '''
select m.ID_morceau, m.Nom_morceau
from Morceau m join Programme p on m.ID_morceau = p.ID_morceau
group by m.ID_morceau, m.Nom_morceau
having count(distinct p.ID_concert) = (select count (distinct ID_concert) from Concert);
'''
print("Les morceaux joués à tous les concerts sont: ")
print_requete(script_7)

Les morceaux joués à tous les concerts sont:

--- RESULT

            ID_morceau            Nom_morceau
                     7                  Ouais
                    12                   Boum
                    14                 La vie
                    16               Kokoriko

---

Cette requête identifie les morceaux qui ont été joués à tous les concerts enregistrés dans la base de données. Elle effectue une jointure entre la table Morceau et la table Programme en utilisant l'identifiant du morceau (ID morceau). Cela permet de relier chaque morceau à tous les concerts où il a été joué.
De plus, dans la requête, les résultats sont regroupés par ID morceau et nom du morceau (les attributs de la table Morceau), ce qui est nécessaire pour effectuer des calculs sur chaque morceau individuellement.


En outre, la fonction COUNT(DISTINCT p.ID_concert) est utilisée pour compter le nombre de concerts distincts où chaque morceau a été joué. La clause HAVING est ensuite utilisée pour filtrer les morceaux, en comparant le nombre de concerts où le morceau a été joué avec le nombre total de concerts distincts (SELECT COUNT(DISTINCT ID_concert) FROM Concert). Seuls les morceaux joués dans un nombre de concerts égal au nombre total de concerts distincts sont sélectionnés.

---

###  8. Y a-t-il des musiciens parmi les clients ? Comment le vérifier ?

In [31]:

script_8 = '''
select Nom_musicien, Tel_musicien from musicien natural join reservation natural join client
where Tel_musicien = Tel_client
'''

print("Les musiciens parmi les clients sont: ")
print_requete(script_8)

Les musiciens parmi les clients sont:

--- RESULT

          Nom_musicien           Tel_musicien
             Stanislas             0622181420
                 Omara             0316508123

---
Cette requête est conçue pour identifier les musiciens qui sont également des clients, en partant du principe que si un musicien et un client partagent le même numéro de téléphone, ils sont en réalité la même personne.

Pour cela, nous utilisons une jointure naturelle (NATURAL JOIN) pour combiner les tables Musicien, Réservation et Client. Cette jointure associe automatiquement les colonnes portant le même nom dans ces tables.

La condition WHERE Tel_musicien = Tel_client filtre les résultats afin de ne conserver que les cas où le numéro de téléphone du musicien correspond à celui du client, suggérant ainsi qu'il s'agit de la même personne.

Enfin, nous sélectionnons le nom du musicien (Nom_musicien) et son numéro de téléphone (Tel_musicien) pour les musiciens qui remplissent cette condition.



---

### 9. Calculez le chiffre d’affaires par séance de concert

### 1ere méthode

In [32]:
script_9 = '''
select s.ID_concert, s.Date, sum(r.Prix) as Chiffre_Affaires, count(*) as Nombre_billets_Vendus
from Seance s join Reservation r on s.ID_concert = r.ID_concert and s.Date = r.Date
group by s.ID_concert, s.Date;
'''

print("Le chiffre d’affaires par séance de concert est représenté ci-dessous: ")
print_requete(script_9)

Le chiffre d’affaires par séance de concert est représenté ci-dessous:

--- RESULT

            ID_concert                   Date       Chiffre_Affaires  Nombre_billets_Vendus
                     1             2022/04/15                    342                     14
                     2             2022/10/05                    315                     16
                     3             2022/06/21                    163                     10
                     3             2022/08/07                    148                     10

### 2eme méthode

In [33]:
###2eme methode
script_9 = '''
select s.ID_concert, s.Date, (select sum(r.Prix) from Reservation r
where r.ID_concert = s.ID_concert and r.Date = s.Date) as Chiffre_Affaires
from Seance s;
'''

print("Le chiffre d’affaires par séance de concert est représenté ci-dessous: ")
print_requete(script_9)

Le chiffre d’affaires par séance de concert est représenté ci-dessous:

--- RESULT

            ID_concert                   Date       Chiffre_Affaires
                     1             2022/04/15                    342
                     2             2022/10/05                    315
                     3             2022/06/21                    163
                     3             2022/08/07                    148

### 3eme méthode

In [34]:
script_9 = '''
select distinct s.ID_concert, s.Date,
    count(r.ID_client) over (partition by s.ID_concert, s.Date) as Nombre_Billets_Vendus,
    sum(r.Prix) over (partition by s.ID_concert, s.Date) as Chiffre_Affaires
from Seance s join Reservation r ON s.ID_concert = r.ID_concert AND s.Date = r.Date;
'''

print("Le chiffre d’affaires par séance de concert est représenté ci-dessous: ")
print_requete(script_9)

Le chiffre d’affaires par séance de concert est représenté ci-dessous:

--- RESULT

            ID_concert                   Date  Nombre_Billets_Vendus       Chiffre_Affaires
                     1             2022/04/15                     14                    342
                     2             2022/10/05                     16                    315
                     3             2022/06/21                     10                    163
                     3             2022/08/07                     10                    148

---
Cette requête est conçue pour calculer le chiffre d'affaires de chaque séance de concert. Pour ce faire, nous effectuons une jointure entre les tables Séance et Réservation en utilisant à la fois l'ID du concert (ID concert) et la date de la séance (Date). Cela permet de relier chaque réservation à sa séance de concert spécifique.


Nous avons également sélectionné l'identifiant du concert et la date de la séance afin d'identifier chaque séance de manière distincte. De plus, nous calculons le total des revenus générés par la vente des billets pour chaque séance. La somme des prix des réservations (r.Prix) fournit le chiffre d'affaires total.


Nous avons inclus COUNT(*) AS Nombre_billets_Vendus pour compter le nombre total de billets vendus pour chaque séance. Cette fonction COUNT(*) compte toutes les lignes (réservations) correspondant à chaque groupe de séances.
Enfin, nos résultats sont regroupés par l'identifiant du concert et la date de la séance, ce qui nous permet d'obtenir des résultats distincts pour chaque séance de concert.

---

### 10. Quel organisateur a gagné le plus sachant qu'il lui revient en moyenne 20% du chiffre d’affaires du concert

In [35]:
script_10 = '''
select o.ID_organisateur, o.Nom_organisateur, sum(r.Prix) * 0.2 
as Revenu_Organisateur
from Organisateur o join Concert co on o.ID_organisateur = co.ID_organisateur
join Reservation r on co.ID_concert = r.ID_concert
group by o.ID_organisateur, o.Nom_organisateur
order by Revenu_Organisateur desc
limit 1;
'''
print("L'organisateur ayant gagné le plus sachant qu'il lui revient en moyenne 20% du chiffre d’affaires du concert est: ")
print_requete(script_10)

L'organisateur ayant gagné le plus sachant qu'il lui revient en moyenne 20% du chiffre d’affaires du concert est:

--- RESULT

       ID_organisateur       Nom_organisateur    Revenu_Organisateur
                     1          Les meilleurs                  125.2

--- 

Cette requête est conçue pour identifier l'organisateur de concerts ayant généré le plus de revenus, en tenant compte du fait qu'il perçoit en moyenne 20 % du chiffre d'affaires réalisé par chaque concert.
Pour cela, nous avons d'abord joint la table Organisateur à la table Concert sur l'ID de l'organisateur, puis relié la table Concert à la table Réservation sur l'ID du concert. Cette opération de jointure permet de relier chaque organisateur aux concerts qu'il a organisés ainsi qu'aux réservations correspondantes.


Nous avons calculé le revenu de l'organisateur pour chaque groupe (organisateur) en sommant tous les prix des billets vendus pour les concerts qu'il a organisés (SUM(r.Prix)) et en prenant 20 % de ce total (multiplié par 0,2), car l'organisateur perçoit 20 % du chiffre d'affaires.


Les résultats sont ensuite regroupés par l'identifiant et le nom de l'organisateur afin de déterminer le revenu total pour chaque organisateur. Enfin, nous avons trié les organisateurs par leur revenu en ordre décroissant et limité les résultats au premier enregistrement, ce qui correspond à l'organisateur ayant gagné le plus d'argent.

---

In [114]:
from huggingface_hub import login
import sqlite3
import requests

# ✅ Function to connect to SQLite database
def connect_db():
    """Connexion à la base de données SQLite"""
    return sqlite3.connect("jazz_projet.db")

# ✅ Function to generate SQL query using Hugging Face API
def generate_sql_huggingface(question):
    """Generate SQL query from natural language using Hugging Face API"""
    API_URL = "https://api-inference.huggingface.co/models/mrm8488/t5-base-finetuned-wikiSQL"
    #API_URL = "https://api-inference.huggingface.co/models/lgesse/t5-base-text2sql"
    #API_URL = "https://api-inference.huggingface.co/models/alpecevit/flan-t5-base-text2sql"
    #API_URL = "https://api-inference.huggingface.co/models/gaussalgo/T5-LM-Large-text2sql-spider"
    #API_URL = "https://api-inference.huggingface.co/models/devzafar/t5-small-text2sql"







    HEADERS = {"Authorization": "Bearer cccccccccccccc"}  # 

    # Provide database schema and question as input
    schema = """
    Database schema:
    - Concert(ID_concert, Nom_concert, ID_musicien, ID_organisateur)
    - Client(ID_client, Nom_client, Tel_client)
    - Reservation(ID_concert, Date, ID_client, Num_place, Prix)
    - Musicien(ID_musicien, Nom_musicien, Tel_musicien)
    - Salle(ID_salle, Nom_salle, Nombre_Places)
    - Organisateur(ID_organisateur, Nom_organisateur, Tel_organisateur)
    - Morceau(ID_morceau, Nom_morceau)
    - Programme(ID_morceau, ID_concert, ID_arrangeur)
    - Auteur(ID_musicien, ID_morceau)
    - Seance(ID_concert, Date, ID_salle)
    """

    payload = {
        "inputs": f"{schema}\nQuestion: {question}\nSQL Query:"
    }

    response = requests.post(API_URL, headers=HEADERS, json=payload)

    if response.status_code == 200:
        try:
            return response.json()[0]["generated_text"].strip()
        except (KeyError, IndexError):
            return "⚠️ Error: Unexpected API response format"
    elif response.status_code == 503:
        return "⚠️ Error: Model is still loading. Please try again in a few seconds."
    else:
        return f"❌ API Error: {response.status_code} - {response.text}"

# ✅ Function to execute SQL query
def execute_sql_query(query):
    """Execute the generated SQL query in SQLite"""
    conn = connect_db()
    cursor = conn.cursor()

    # Ensure query is valid SQL before executing
    if query.startswith("⚠️") or query.startswith("❌"):
        return query  # Return error message instead of executing invalid SQL
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        conn.close()
        return result if result else "✅ Query executed successfully (No data returned)"
    except Exception as e:
        conn.close()
        return f"⚠️ SQL Execution Error: {e}"

# ✅ Complete SQL pipeline
def sql_pipeline(question):
    """Full pipeline: Generate & execute SQL queries from natural language"""
    
    # Generate SQL Query
    sql_query = generate_sql_huggingface(question)
    print(f"🔍 Requête SQL générée :\n{sql_query}\n")
    

    
    return result

# ✅ Example usage
question = "Quels musiciens n'ont jamais arrangé un morceau ?"
result = sql_pipeline(question)

🔍 Requête SQL générée :
SELECT Musicians FROM table WHERE Nom_concert, ID_

Le code SQL incomplet ou erroné est dû au fait que le modèle mrm8488/t5-base-finetuned-wikiSQL n'a pas été entraîné de manière approfondie sur des schémas complexes à plusieurs tables. 

Sa formation s'est principalement concentrée sur l'ensemble de données WikiSQL, où chaque requête concerne une seule table avec des noms de colonnes plus simples. Par conséquent, lorsqu'il est confronté à notre schéma multitable personnalisé, le modèle peut produire des instructions SQL partielles ou invalides.

     

            J'ai effectué plusieurs essais avec différents modèles, mais je n'ai pas encore trouvé celui qui convient.